{% extends "base.html" %}

{% block content %}
<h1>Оформление продажи товара</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.about_product.label }}<br>
        {{ form.about_product(class="form-control") }}<br>
        {% for error in form.about_product.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.chat.label }}<br>
        {{ form.chat(class="form-control") }}<br>
        {% for error in form.chat.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.img.label }}<br>
        {{ form.img(class="form-control-file") }}<br>
        {% for error in form.img.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}